*, body{
  margin: 0;
}
  
  nav{
    min-height: 50px;
    background-color: cyan;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}
.menu{
  width: 50%;

}
.menu_list{
  height: 100%;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  width: 100%;

}
